.roll-replace {
    cursor: pointer;
  }
  
  .replaced, .replacer {
    display: inline-block;
    transform-origin: 50% 50% -10px;
  }
  
  .replacer { opacity: 0; }
  
  @keyframes rollUp {
    0% {
      transform: rotate3d(1,0,0, 0deg);
      opacity: 1;
    }
    100% {
      transform: rotate3d(1,0,0, 90deg);
      opacity: 0;
    }
  }
  
  @keyframes rollIn {
    0% {
      transform: rotate3d(1,0,0, -90deg);
      opacity: 0;
    }
    100% {
      transform: rotate3d(1,0,0, 0deg);
      opacity: 1;
    }
  }