---
layout: default
title: Frank Noirot
---
<section id='personal-info' class='row'>
  <div class='col-4'>
    <img src="assets/img/profile-pic.jpg" class="img-fluid" alt="">
  </div>
  <div class='card col-8'>
    <h1>Frank Noirot</h1>
    <nav>
      <nav>
       <div class="nav nav-tabs" id="nav-tab" role="tablist">
         <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true">About</a>
         <a class="nav-item nav-link" id="nav-principles-tab" data-toggle="tab" href="#nav-principles" role="tab" aria-controls="nav-principles" aria-selected="false">Principles</a>
         <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
       </div>
      </nav>
      <div class="tab-content card-body" id="nav-tabContent">
       <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
         <p>My name's Frank R Johnson. I design objects, applications, and organizations. <em>Frank Noirot</em> is just a pseudonym <a href='/im-changing-my-name'>for now.</a></p>
         <p>I use this site as a to-do list for myself, and a portfolio for you.</p>
         <blockquote>Right now I'm really into <em>making workflows for myself and others</em> using scripting, automation, and habit-forming.</blockquote>
         <a class="btn btn-outline-primary" href='/about/'>Read More</a>
       </div>
       <div class="tab-pane fade card-body" id="nav-principles" role="tabpanel" aria-labelledby="nav-principles-tab">
         <em>a living list:</em>
         <ol>
           <li>Waste is a design flaw.</li>
           <li>Nature is smarter than you.</li>
           <li>Privilege is a debt to be repaid.</li>
           <li>Opensource is not optional.</li>
           <li>If you don't document it, it doesn't exist.</li>
           <li>...</li>
         </ol>
       </div>
       <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
         <p><a href='/resume'><i class='far fa-file-alt fa-fw'></i>Personal Resumé</p>
         <p><a href='https://instagram.com/franknoirot/'><i class='fab fa-instagram fa-fw'></i>@franknoirot</a></p>
         <p><a href='https://github.com/franknoirot'><i class='fab fa-github fa-fw'></i>@franknoirot</a></p>
       </div>
      </div>
    </nav>
  </section>


  {%- if site.posts.size > 0 -%}
  <section id='work'>
    {%- for category in site.categories  -%}
    {% assign catName = category[0] %}
    <div id='work-{{ category[0] }}' class='category-container'>
      <a class='category-toggle' data-toggle="collapse" href="#{{ category[0] }}Collapse" role="button" aria-expanded="false" aria-controls="{{ category[0] }}Collapse">
        <h2><i class="{%- case catName -%}{%- when 'code' -%}fas fa-code {%- when 'make' -%}far fa-hand-paper {%- when 'read' -%}fas fa-book {%- when 'write' -%}fas fa-pencil-alt {% endcase %} fa-fw"></i>{{ category[0] | capitalize }}</h2></a>
      <div class="collapse" id="{{ category[0] }}Collapse">
        {%- for post in category[1] -%}
        <a class='featured-work' href='{{- post.url -}}'>
          <div class="row">
            {% if post.featured_image %}
            <img class='img-thumbnail' src='{{-  post.featured_image -}}'>
            {% endif %}
            <div class='card-body'>
              <h3>{{ post.title | escape }}</h3>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <p class="post-meta">{{ post.date | date: date_format }}</p>

              {%- if post.excerpt -%}
                {{ post.excerpt }}
              {%- endif -%}

              {% if post.tags %}
              <p>
                {% for tag in post.tags %}
                  <em>#{{- tag -}} </em>
                {% endfor %}
              </p>
              {% endif %}

            </div>
          </div> <!-- /.card-body.row -->
        </a> <!-- /.featured-work -->
        {% endfor %}
        <!-- <a class='btn btn-outline-primary' href='#'>See More</a> -->
      </div> <!-- /#codeCollapse -->
    </div> <!-- /#work-code -->
    {% endfor  %}
  </section> <!-- /#work -->
  {%- endif -%}
