---
layout: default
title: Frank Noirot
---
<section id="bio">
  <h1 class="bio-name">Frank <span class="roll-replace" data-replace="Noirot" data-duration='.1' data-delay=".05">Johnson</span></h1>
  <div id="bio-quick">
    <p class="bio-quick">A digital & physical designer</p>
    <p class="bio-quick">based out of NYC & DC</p>
    <p class="bio-quick">making websites & furniture.</p>
  </div>
  <img class="bio-img warp" src="/assets/img/homepage-1.jpg" alt="Frank in front of the bar cart he made."/>
  <div class="bio-tagline">
    <p>I build all kinds of things, and I try to make them delightful to use. Take this category picker below, which I built for a company history site:</p>
    {% include category-picker.html %}
    <p>It's fun to click, right? I try to put that spirit of disciplined simplicity and happy detail in everything I do, whether it's a user interface, a bar cart, or a brand.</p>
    <p>I'm looking for new work in any design field right now, so please <a class='btn-fancy' href="/contact">reach out</a> or <a href="https://codepen.io/franknoirot">visit my Codepen</a> to see more of my web work.</p>
  </div>
</section>
<section id="work">
  <h2 class="work-heading">My Work</h2>
  <div class="work-item iridium">
    <div class="work-item-writeup">
        <h3>Iridium Satellite</h3>
        <p class="role">Marketing Coordinator  |  August 2017 &ndash; August 2019</p>
        <p>
          At Iridium Satellite I worked on every facet of marketing. I designed a rocket launch patch. 
          I helped organize and manage the enterprise Wordpress CMS with 300+ products, 1700+ documents, and 1000+ users. I took all product 
          photography, and led our Google Analytics and Data Studio reporting.
        </p>
        <p>
          This team has supported all the growth of my young career and given me the chance to 
          build my confidence as a professional. I couldn't be more grateful.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/iridium" slug="irdm" start="1" end="6" help=true %}
  </div>
  <div class="work-item ashe">
    <div class="work-item-writeup">
        <h3>Ashé: An Artists Collective</h3>
        <p class="role">Art &amp; Business Adviser | January 2018 &ndash; Present</p>
        <p>
          Ashé is a new organization dedicated to supporting dancers, founded by two fellow OSU alumni. I've helped them
          form the gameplan for the business as well as run a blog and an Instagram account. I make most of the feature art and 
          merchandise designs, and I recently creating a series of ad videos with After Effects.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/ashe" slug="ashe" start="1" end="8" %}
  </div>
  <div class="work-item furniture">
    <div class="work-item-writeup">
        <h3>Furniture Designs</h3>
        <p class="role">Gifts &amp; Commissions | June 2017 &ndash; Present</p>
        <p>I've been making furniture occasionally over the last three years. It's been a really rewarding creative outlet,
          being able to make useful things for myself and my loved ones. It's also been a way to learn new skills from my
          friends and family.
        </p>
        <p>
          I do take commissions if you are interested in me building you a piece in the eastern half of the US.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/furniture" slug="furniture" start="1" end="9" %}
  </div>
  <div class="work-item christmas">
    <div class="work-item-writeup">
        <h3>Family Christmas Posters</h3>
        <p class="role">Gifts for Nieces &amp; Nephews | December 2018</p>
        <p>I made these posters for my nieces and nephews because though I don't get to see my nieces and 
          nephews as much as I would like, I wanted them to know how much I think about and love them.
        </p>
        <p>
          I tried to capture some element of their personality that they might not recognize in themselves and give it an
          image, with the hope that they could maybe see it someday and be proud of themselves. I made them all with Adobe
          Illustrator and printed them on 11 x 17 poster prints.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/christmas-posters" slug="christmas_posters" start="1" end="5" %}
  </div>
</section>
<script type="text/javascript" src="/assets/js/img-filters.js"></script>
<script type="text/javascript" src="/assets/js/carousel.js"></script>
<script type="text/javascript" src="/assets/js/intersection-observer.js"></script>
