---
layout: default
title: Frank Noirot
---
<section id="bio">
  <h1 class="bio-name">Frank <span class="roll-replace" data-replace="Noirot" data-duration='.1' data-delay=".05">Johnson</span></h1>
  <div id="bio-quick">
    <p class="bio-quick">Working as a <strong>Designer</strong></p>
    <p class="bio-quick">Trained as a <strong>Planner</strong></p>
    <p class="bio-quick">Raised as a <strong>Maker</strong></p>
  </div>
  <img class="bio-img warp" src="/assets/img/homepage-1.jpg" alt="Frank in front of the bar cart he made."/>
  <div class="bio-tagline">
    <p>It is my joy to learn widely and help build things <br>for and with good people,<br>whether it's a bar cart, a website, or a brand.</p>
  </div>
</section>
<section id="work">
  <h2 class="work-heading">My Work</h2>
  <div class="work-item iridium">
    <div class="work-item-writeup">
        <h3>Iridium Satellite</h3>
        <p class="role">Marketing Associate  |  August 2017 &ndash; Present</p>
        <p>
          Iridium has given me the chance to work on every facet of marketing, and make a lot of wildly different things. I've designed a rocket launch patch. 
          I've helped organize a content management system with 300+ products, 1700+ documents, and 1000+ users. I've taken product 
          photography, and I've helped manage three Wordpress sites.
        </p>
        <p>
          This team has supported all the growth of my young career and given me the chance to 
          build my confidence as a professional.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/iridium" slug="irdm" start="1" end="6" %}
  </div>
  <div class="work-item ashe">
    <div class="work-item-writeup">
        <h3>Ashé: And Artists Collective</h3>
        <p class="role">Art &amp; Business Adviser | January 2018 &ndash; Present</p>
        <p>
          Ashé is a new organization dedicated to supporting dancers, founded by two fellow OSU alumni. I've helped them
          form the gameplan for the business as well as run a blog and an Instagram account. I make most of the feature art and 
          merchandise designs, and I recently creating a series of ad videos with After Effects.
        </p>
        <p>
          We've learned a lot as we struggled through a long process of finding our voice and mission. 
          I'm really excited for this next phase where we grow the community.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/ashe" slug="ashe" start="1" end="8" %}
  </div>
  <div class="work-item furniture">
    <div class="work-item-writeup">
        <h3>Furniture Designs</h3>
        <p class="role">Gifts &amp; Commissions | June 2017 &ndash; Present</p>
        <p>I've been making furniture occasionally over the last three years. It's been a really rewarding creative outlet,
          being able to make useful things for myself and my loved ones. It's also been a way to learn new skills from my
          friends and family.
        </p>
        <p>
          I do take commissions if you are interested in me building you a piece in the eastern half of the US.
        </p>
    </div>
    {% include carousel.html asset_dir="/assets/img/furniture" slug="furniture" start="1" end="8" %}
  </div>
</section>
<script type="text/javascript" src="/assets/js/img-filters.js"></script>
<script type="text/javascript" src="/assets/js/carousel.js"></script>
<script type="text/javascript" src="/assets/js/intersection-observer.js"></script>
