$primary: #8d021f; //burgundy
$secondary: #707070; //gray

section {
  margin-bottom: 1.5rem;
}

// blockquote style taken from CSS-Tricks.com
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.container {
  margin-top: 5%;
  margin-bottom: 10%;
}

.card-body {
  padding: .8rem;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.category-container:not(last-of-type) {
  margin-bottom: 1.2rem;
}

.fa-fw {
  margin-right: .8rem;
}


// resume page specific styles
.resume-section {
  &>h2{
    font-variant: small-caps;
    color: $secondary;
  }

  & .date {
    float: right;
  }

  & h4 {
    color: $secondary;
    font-size: 1.25rem;
  }
}

// D3.js charts
.svg-container {
  margin-bottom: 1.25rem;
}
.svg-container-narrow {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 25%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

//Homepage category highlighting
.category-toggle>h2 {
  color: $secondary;
}

.collapse.show{
  border-top: solid 2px $secondary;
}

.collapse{
  border-top: none;
}
