$primary: #8d021f; //burgundy
$secondary: #707070; //gray

section {
  margin-bottom: 1.5rem;
}

.container {
  margin-top: 5%;
}

.card-body {
  padding: .8rem;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.category-container:not(last-of-type) {
  margin-bottom: 1.2rem;
}

.fa-fw {
  margin-right: .8rem;
}


// resume page specific styles
.resume-section {
  &>h2{
    font-variant: small-caps;
    color: $secondary;
  }

  & .date {
    float: right;
  }

  & h4 {
    color: $secondary;
    font-size: 1.25rem;
  }
}

//.center utility centering class because I don't get Bootstrap .justify-content
.center {
  margin: auto;
}
