{% capture slideSlug %}{{ include.slug }}--slideshow--{{ include.id }}{% endcapture %}
<!-- {% assign slides = page.carousel.slides %} -->
{% assign start = include.start %}
{% assign end = include.end %}
{% assign start = start | plus: 0 %}
{% assign end = end | plus: 0  %}

<div id="{{ slideSlug }}" class="carousel {% if include.help %}help-text{% endif %}">
  <div class="carousel__track-container">
    <ul class="carousel__track" tabindex="0">
      {%- for slide in (start..end) -%}
      <li class="carousel__slide {% if slide == 1 %}active{% endif %}">
          {% assign card = site.data.img_text[include.slug][slide] %}
          <img class="carousel__item{% if slide != 1 %} lazy{% endif %}" alt="{{ card.alt }}"
            {% if slide == 1 %}src{%- else -%}data-src{%- endif -%}="{{ include.asset_dir }}/{{ slide }}{{ card.ext }}">
          <div class="carousel__item-info">
            
            <h4>{{ card.heading }}</h4>
            {%- if card.href -%}
            <a href="{{ card.href }}" target="_blank">Play on {{ card.site }}</a>
            {% endif %}
            <p>{{ card.body }}</p>
          </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <button class="carousel__button carousel__button--left" name="Previous Image">
    <img src="/assets/img/carousel-arrow-left.svg" alt="Previous">
  </button>
  <button class="carousel__button carousel__button--right" name="Next Image">
      <img src="/assets/img/carousel-arrow-right.svg" alt="Next">
  </button>
  <div class="carousel__nav">
    {% for slide in (start..end) %}
    <button class="carousel__indicator {% if slide == 1 %}active{% endif %}"></button>
    {% endfor %}
  </div>
</div>
