{% include d3-embed.html %}

<style type='text/css' scoped>
  #chart {
    margin: 1.5rem auto;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  svg { margin: auto;}
  .axis circle { fill: none; stroke:#eee; }
  .axis line, .axis circle:nth-of-type(5n), .axis circle:first-of-type { stroke:#aaa; }
  .r text, .r text:first-of-type { display:none; }
  .r text:nth-of-type(10n) {display:inline;}
  .label text {
    font: bold;
    font-size: .8rem;
  }
  .age-scale{ color: #ccc; }
  .wedge { fill: rgba(115,190,220,0.30); z-index: -1;}
  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #aca;
    padding: 14px;
    text-align: center;
  }
  .dot{ fill: #333}
</style>
<script type='text/javascript' src='../assets/js/family-calendar.js'></script>
