<nav id="nav-bar" class='site-navbar'>
    <a class="nav-toggle nav-open" onclick="document.getElementById('nav-contact').focus()">&#xff0b;</a>
    <a class="nav-toggle nav-close">x</a>
    <a class='nav-item home' href="/">Home</a>
    <a id="nav-contact" class='nav-item' href="/contact">Contact</a>
    <a class='nav-item' href="/about">About</a>
    <a class='nav-item' href="/resume">Resumé</a>
    <a class='nav-item' href="/apps">Apps</a>
    <a class='nav-item' href="https://www.instagram.com/franknoirot" target="_blank" rel="noopener">@franknoirot</a>
</nav>
